doctype html

head
  link(rel="stylesheet", type="text/css", href="bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="style.css")

body
  .jumbotron
    textarea
    h1(style="display: none") hi
  button.btn.btn-lg.btn-success Start
  input.form-control(type="number")

  script(src='script.js')
